<library path="thermal_calibration_rqt">
  <class name="ThermalCalibration" type="thermal_calibration_rqt.thermal_calibration_plugin:ThermalCalibrationPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      RQT plugin for thermal camera calibration.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
      </group>
      <label>Thermal Camera Calibration</label>
      <icon type="file">resource/icons/thermal_calibration.svg</icon>
      <statustip>Calibrate thermal camera using reference measurements.</statustip>
    </qtgui>
  </class>
</library>
